.navLogo {
    display: flex;
    align-items: center;
    gap: 8px; 
    /* gap* */
  }
  
  .navLogo h2{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #C92071;
  font-size: 31px;
  }